@{
    ViewBag.Title = "Index";
    Layout = "~/MasterTemplate/AuthentucatedMasterTemplate.cshtml";
}
<script type="text/javascript">


    function getMarkerData(map) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: '@Url.Action("GetPointerData", "Suppliers")',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                for (var i = 0; i < data.body.length; i++) {
                    var json = JSON.parse(data.body[i]);
                    AddMapMarkers(json.popupWindowValue, json.lat, json.lng, map, json.markerColor);
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>

<h3>Suppliers</h3>
Below is a map of all the recommended suppliers in South Africa.<br><br>
@Html.Partial("~/Views/Partials/GoogleMap.cshtml") <br> 

<h3>Legend</h3>
<table>
    @for (int i = 0; i < ViewBag.suppliers.Count; i = i + 3)
    {
        <tr>
            <td style="padding: 5px;">
                <div style="width: 25px; border:1px solid black; height: 25px; background-color: #@ViewBag.suppliers[i].supplier_marker_color;"></div>
            </td>
            <td><a href="@ViewBag.suppliers[i].url" target="_blank" style="color: black;"> @ViewBag.suppliers[i].supplier_name</a></td>
            @if (ViewBag.suppliers.Count > (i + 1))
            {
                <td style="padding: 5px; padding-left: 100px;">
                    <div style="width: 25px;border:1px solid black; height: 25px; background-color: #@ViewBag.suppliers[i + 1].supplier_marker_color"></div>
                </td>
                <td>
                    <a href="@ViewBag.suppliers[i + 1].url" target="_blank" style="color: black;"> @ViewBag.suppliers[i + 1].supplier_name</a>
                </td>
            }
            @if (ViewBag.suppliers.Count > (i + 2))
            {
                <td style="padding: 5px; padding-left: 100px;">
                    <div style="width: 25px; border:1px solid black; height: 25px; background-color: #@ViewBag.suppliers[i + 2].supplier_marker_color"></div>
                </td>
                <td>
                    <a href="@ViewBag.suppliers[i + 2].url" target="_blank" style="color: black;"> @ViewBag.suppliers[i + 2].supplier_name</a>
                </td>
            }
        </tr>
    }
</table>

