@{
    ViewBag.Title = "Home";
    Layout = "~/MasterTemplate/NotAuthentucatedMasterTemplate.cshtml";
}

<div id="main">
    <div id="content">
        <div class="post">
            <h3>Why you should join our club</h3>
            <div class="cl">&nbsp;</div>
            <img src="css/images/triton_sander.jpg" height="120px;" />
            <p>
                <br /><br />
                We are a group of likeminded people interested in woodworking as a hobby and we meet once a month on a Saturday afternoon.
                Our members are of many skills level from beginners to highly skilled woodworkers.
                <br />We meet in a relaxed atmosphere which includes the following:
                <br /><br /><br />
            </p>
            <div style="padding-left: 30px;">
                <ul>
                    <li>Guest speakers showing us products and doing demonstrations.</li>
                    <li>Practical sessions on improving our skills with a large selection of power tools that are at the meeting venue for our use.</li>
                    <li>Show and Tell where members bring items they have made and share their experience with the club.</li>
                    <li>Internal competitions where members get to improve their skills and learn from the advice of the judges.</li>
                    <li>Prizes and handouts at most meetings.</li>
                    <li>Access to a free library of books magazines and Cd’s loaded with information.</li>
                    <li>Access to our website where there is lots of useful information.</li>
                    <li>An opportunity to buy and sell second-hand tools.</li>
                    <li>Community projects we get to help those less fortunate people in our community by using our skills and time.</li>
                </ul>
                <br />
                <p>
                    <strong>Most importantly we have lots of fun and laughs !!!</strong>
                </p>
                <br /><br /><br />
                <p>
                    <img src="css/images/triton_register.png" height="100px;" />
                </p>
                <br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
    <div class="cl">&nbsp;</div>
    <div id="project">
        <h3></h3>
        <p>
            <strong>Recommended Youtube Channels</strong><br />A list of recommended youtube channels, everything from simple shop jigs to full on expert level projects.<br />
        </p>
        <div id="project-slider">
            <ul>
                @foreach (var item in ViewBag.youtube)
                {
                    <li>
                        <div style="text-align: center;">
                            <a href="@item.url" target="_blank"><img src="@item.image_url" style="height: 75px; width: 75px;" /></a>
                            <strong>@item.channel_name</strong>
                            <p>@item.description</p>
                            <a href="@item.url" target="_blank" title="View More">view more <span>&nbsp;</span></a>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="cl">&nbsp;</div>
    </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Login</h2>
        </div>
        <div class="modal-body">
            <br /><center>
                <form method="post" action="@Url.Action("LoginResult", "Home")">
                    <table style="width: 250px; margin-left: auto; margin-right: auto; text-align: center;" id="loginTable">
                        <tr>
                            <td>
                                <h4>Username</h4>
                            </td>
                            <td>
                                <input type="text" name="username">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Password</h4>
                            </td>
                            <td>
                                <input id="PasswordInput" type="password" name="password">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="LoginButton" class="button" name="Submit" type="submit" value="Login" />
                            </td>
                            <td>
                                <div id="ErrorMessage"></div>
                            </td>
                        </tr>
                    </table>
                    <br />

                    <br />
                    <center />
                </form>
            </center>
        </div>

    </div>
</div>
@Html.Raw(File.ReadAllText(Server.MapPath("~/Views/Partials/BootstapModal.html")));
@if (ViewBag.Message != null)
{
    <script>
        var table = document.getElementById("loginTable");
        $("#ErrorMessage").html("<u>" + "@ViewBag.Message" + "</u>");
        modal.style.display = "block";
    </script>
}
<script>
    $("#PasswordInput").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#LoginButton").click();
        }
    });

    if (window.location.href.indexOf("viewlogin") > 0) {
        modal.style.display = "block";
    }
</script>

